$smaller-screen: 640px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1200px;
$larger-screen: 1600px;

$screen: "only screen";
$smaller: "only screen and (min-width:#{$smaller-screen})";
$small: "only screen and (min-width:#{$small-screen})";
$medium: "only screen and (min-width:#{$medium-screen})";
$large: "only screen and (min-width:#{$large-screen})";
$larger: "only screen and (min-width:#{$larger-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

$tablet: "only screen and (min-device-width: 768px) and (max-device-width: 1024px)";

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx)";