nav {
	width: 970px;
	margin-top: 105px;
	margin-left: auto;
	margin-right: auto;
	background-color: $dGray;
	height: 90px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	ul {
		list-style: none;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		width: 19%;

		&:nth-child(3){
			position: relative;
		}
	}

	a {
		text-transform: uppercase;
		font-size: 2.5rem;
		text-decoration: none;
		color: $gray;
		line-height: 3.6;
	}


	// logo
	img {
		position: absolute;
		left: 50%;
		margin-left: -75px;
		top: -150px;
	}

	// active link style
	.active {
		color: $green;
	}
}