html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: $green;
}

.outer {
	width: 970px;
	margin: 0 auto;
	background-color: #ecf0f1;
}